#top {
    display: flex;
    width: 800px;
    background-color: #dcc9f4;
    padding: 20px 20px;
    margin: 20px auto;
}
#top p {
    text-align: center;
}

.top-child {
    width: 20%;
    background-color: #ffd9df;
    display: inline;
    margin: auto;
}

#mid {
    width: 800px;
    height: 800px;
    position: relative;
    margin: 20px auto;
    background-color: #ffd9df;
}

.mid-child001 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-color: #87ceeb;
}
  
.mid-child002 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 300px;
    left: 300px;
    background-color: #87ceeb;
}
  
.mid-child003 {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 500px;
    left: 500px;
    background-color: #87ceeb;
}

#bot {
    width: 800px;
    height: 300px;
    position: relative;
    margin: auto;
    background-color: #87ceeb;
}

.bot-child001 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    position: relative;
}

.bot-child002 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    position: absolute;
    left: 200px;
    top: 83px;
}

.bot-child003 {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
    position: absolute;
    left: 400px;
    top: 183px;
}